@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: dm_sans;
  src: url(../public/fonts/dm_sans/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lora;
  src: url(../public/fonts/lora/Lora-Regular.ttf);
  font-weight: 400;
}


@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: dm_sans;
  src: url(../public/fonts/dm_sans/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-Bold.ttf);
  font-weight: 800;
}

body {
  font-family: nunito, sans-serif;
}

/* .main-bg {
  background: rgb(38, 38, 39);
  background: radial-gradient(circle, rgba(50, 50, 51, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(0, 0, 0, 1) 42%);
} */